# Data Collection
requests
praw

# Data Loading
neo4j

# AI-Powered Prediction & Data Handling
pandas==2.2.2
pyarrow

# Crucial Stable ML Stack (Python < 3.11)
# ⚠️ torch is installed separately via conda for CUDA compatibility
pytorch-lightning==1.7.7
pytorch-forecasting==0.10.3
