# --------------------------------------------
# 📦 Data Collection Libraries
# --------------------------------------------
requests
praw

# --------------------------------------------
# 🛢️ Data Loading / Graph DB Integration
# --------------------------------------------
neo4j

# --------------------------------------------
# 📊 Data Handling & Processing
# --------------------------------------------
pandas==2.2.2
pyarrow

# ---------------------------------
